.container {
  padding-top: 2em;
  padding-left: 3em;
}

#stronger {
  padding-right: 5px;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
}

.myStyle {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 550;
}

#scrollable {
  margin-top: 2em;
  margin-bottom: 2em;
  outline: 2px solid black;
  outline-offset: 12px;
  font-family: "Times New Roman", Times, serif;
  line-height: 2.0;
  font-size: 14px;
}

#btnHighLight {
  margin-top: 2.5em;
  visibility: hidden;
}

#btnShow {
  margin-top: 3em;
}

#postbtn {
  margin-top: 0.25em;
}

#postDocbtn {
  margin-top: 1.0em;
}

#annotation {
  margin-top: 0.5em;
}

.highlighted {
  background-color: yellow;
  display: inline;
}

.high {
  background-color: yellow;
  display: inline;
}

#editBtn {
  margin-top: 0.5em;
}

#deleteBtn {
  margin-top: 1.25em;
}

#editDocBtn {
  margin-top: 0.5em;
}

#deleteDocBtn {
  margin-top: 1.25em;
}

.container {
  display: flex;
  max-width: 1200px;
}

/**
* The loading spinner which is set to the middle.
*/
mat-spinner {
  margin: auto;
}

.column.left {
  flex: 0 0 230px;
}

.column.center {
  flex: 0 0 450px;
  max-width: 450px;
}

.column.right {
  position: fixed;
  left: 55em;
  max-width: 200px;
  /* margin-left: 2em; */
  /* flex: 0 0 230px; */
}

#wordRef {
  margin-top: 3em;
}
