
.container {
  padding-top: 2em;
  padding-left: 3em;
  
}



#stronger {
  color:black;
  text-shadow: 1px 1px 1px lightgrey;
  font-size: large;
 
  font-family:  Helvetica, Arial, sans-serif;	
}

/*
hr{
	border:1px solid lightgrey;
	background-color:lightgrey;
}
*/

.myStyle {
  font-family: Tahoma, 'Helvetica', 'Arial', sans-serif;
  line-height: 1.5;
  font-size: 16px;
  font-weight: 550;
}

#scrollable {
  background-color:white;
  margin-top: 1em;
  margin-bottom: 2em;
 
  box-shadow: inset 1px 1px 3px lightgrey;
  border-radius:1px;
  padding:15px;
  font-family: Tahoma, 'Helvetica', 'Arial', sans-serif;
  line-height: 2;
  font-size: 15px;
  white-space: pre-wrap;
}

#reference{
  white-space: pre-wrap;
}

#btnHighLight {
  cursor:help;
  margin-top: 0.75em;
  min-width: 11.25em;
  visibility: hidden;
}

#btnShow {
  margin-top: 3em;
}

#postbtn {
  margin-top: 0.25em;
}

#postDocbtn {
  margin-top: 1.0em;
}

#annotation {
  margin-top: 0.5em;
}

.highlighted {
  background-color: yellow;
  display: inline;
}

.high {
  background-color: yellow;
  display: inline;
}

.margin-top {
  margin-top: 0.75em;
  min-width: 11.25em;
}

#editBtn {
  margin-top: 0.5em;
}

#deleteBtn {
  margin-top: 1.25em;
}

#editDocBtn {
  margin-top: 0.5em;
}

#deleteDocBtn {
  margin-top: 1.25em;
}

.container {
  display: flex;
  max-width: 1200px;
}

/**
* The loading spinner which is set to the middle.
*/
mat-spinner {
  margin: auto;
}

.column.left {
  flex: 0 0 230px;
}

.column.center {
  flex: 0 0 450px;
  max-width: 450px;
}

.column.right {
  position: fixed;
  left: 55em;
  max-width: 200px;
}

#wordRef {
  margin-top: 3em;
}

.margin-left {
  margin-left: 0.5em;
}

#difficultWords {
  min-width: 11.25em;
  background-color: #5c85d6;
  border-color: #5c85d6;
}

#editAnnotation {
  background-color: #2eb8b8;
  border-color: #2eb8b8;
}

.difScale {
  margin-bottom: 1em;
}

.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
  width:max-width;
}
.defs {
	user-select:none;
	cursor:pointer;
	border: 1px solid white;
	border-radius:3px;
	padding:0.5em;
	width: 100%;
	transition:0.2s;
	background-color:white;
	text-align:left;
	
}
.defs:hover {
	border: 1px solid lightgrey;
	background-color:#f8f8ff;
	box-shadow: inset 2px 3px lightgrey;
}
.flex-modal {
	display:flex;
	flex-direction:column;
}
#annotationBox {
	width:100%;
	border: 1px solid lightgrey;
	border-radius: 3px;
}
textarea:focus { 
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 2px #719ECE;
}

.annotation{
	background-color:white;
	box-shadow: inset 1px 2px lightgrey;
	color:black;
	max-height:185px; 
	overflow-y:auto;
}

.textInput {
	border:0px solid black;
	box-shadow:inset 1px 1px gray;
	box-shadow:1px 1px 3px lightgrey;
	border-bottom: 1px solid lightgrey;
	border-radius: 3px 0px 0px 3px;
	background-color:#e7f0ff;
}
.textInput:focus {
	outline:none;
	background-color:white;
}

.labelButton {
	user-select:none;
	width:80px;
	cursor:pointer;
	background-color:#699bd2;
	text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
	border:1px lightgrey;
	color:white;
	box-shadow:inset 1px 1px gray;
	
	box-shadow:1px 1px 3px lightgrey;
	border-radius: 0px 3px 3px 0px;
	transition:0.2s;
}
.labelButton:hover{
	background-color:#9dc7f5;
	transition:0.2s
}

.refsBox {
	display:flex;
	flex-direction:column;
	background-color:#ffdf23;
	box-shadow: 1px 1px 1px lightgrey;
	border-radius: 1px 1px 10px 10px;
	overflow: hidden;
	transition:0.5s;
}
.refsBox a:link{
	color:black;
}
.refsBox a:visited{
	color:black;
}

.refMargin{
	margin-left:2px;
	margin-right:2px;
}
.topRefBox{
	padding:1em;
	padding-bottom:2em;
	display:flex;
	flex-direction:column;
	background-color:white;
	position:sticky;
	top:0px;
	border-radius:10px;
	z-index:1;
	border-bottom:1px solid lightgrey;
}

.boxTitle {
	width:100%;
	text-align:center;
	letter-spacing: 1px;
	font-weight:500;
	padding-bottom:3px;
	display:grid;
	grid-template-columns: 40px 40px auto 40px 40px;
}

.boxTitle.close.active{
	color:red;
}

.paperHeader {
	justify-self:center;
	grid-column-start: 3;
	padding-top:3px;
}

.refTitle {
	box-shadow: inset 0px 0px 1px lightgrey;
	background-color: white;
	font-style: italic;
	padding:8px;
	border-top:1px solid lightgray;
}


.centeredFlex {
	justify-content: center;
	width:100%;
	display:flex;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#continueTest {
    border-radius: 5px;
    background-color: #d4e1f5;
    border:none;
    box-shadow: 1px 1px 3px lightgray;
    padding: 5px 20px 5px 20px;
    position: sticky;
    top:1px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
}
#continueTest:hover{
    background-color: rgb(218, 247, 217) ;
}
#continueTest:focus{
    box-shadow: inset 0px 0px 3px rgb(155, 155, 155);
}
