.container {
  padding-top: 2em;
  padding-left: 3em;
}

#scrollable {
  /* padding-top: 2em; */
  margin-top: 2em;
  margin-bottom: 2em;
  /* outline: 5px dotted green; */
  outline: 2px solid black;
  outline-offset: 12px;
  /* outline-style:outset; */
}

#btnHighLight {
  margin-top: 2em;
  visibility: hidden;
}

#btnShow {
  margin-top: 3em;
}

#postbtn {
  margin-top: 0.25em;
}

#btnRemoveHighLight {
  margin-top: 2em;
}

#annotation {
  margin-top: 2.5em;
}

.highlighted {
  background-color: yellow;
  display: inline;
}

.high {
  background-color: yellow;
  display: inline;
}

#editBtn {
  margin-top: 0.5em;
}

#deleteBtn {
  margin-top: 1.25em;
}

mat-spinner {
  margin: auto;
}

#flexible {
    /* position:fixed;
    top:6em;
    right: 10em; */
}
