<div class="container">
  <div class="row">
    <div class="col">
      <!-- Empty here -->
    </div>
    <div class="col-6">
      <div *ngFor="let post of posts; let $index=index;">
        <ng-template [ngIf]="post.id === id">
          {{ post.header }}
          <!-- style="overflow-y: scroll; height:500px;" -->
          <div id="scrollable">
            {{ postIWant }}
          </div>
        </ng-template>
      </div>
      <div class="questions">
        Questions here:
        <br> Q1: Nam quam nunc, blandit vel
        <br> Q2: Duis leo. Sed fringilla mauris sit amet nibh.
        <br> Q3: Etiam rhoncus. Maecenas tempus
        <br> Q4: Aliquam lorem ante, dapibus in
        <br> Q5: Aenean leo ligula, porttitor eu
      </div>
    </div>
    <div class="col">
        <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' || userIsAuthenticated && this.role == 'admin'">
            <div>
              <button type="button" class="btn btn-warning btn-sm" id="btnHighLight" (click)="highlightSelection()">Highlight</button>
            </div>
          </ng-template>
          <ng-template [ngIf]='word'>
      <!-- <ng-template [ngIf]='complexWord'> -->
        <form [formGroup]='form' (submit)="onAnnotate()">
          <div class="alert alert-warning alert-dismissible fade show" id="annotation" role="alert">
            <!-- {{ complexWord }} -->
            {{ word }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='resetAlertBox()'>
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Annotation Description" rows="3" formControlName="annotation"></textarea>
          </div>
          <button class="btn btn-success btn-sm" id="postbtn" type="submit" [disabled]="!form.valid">Save Annotation</button>
        </form>
      </ng-template>
      <!-- <div>
        <button type="button" class="btn btn-danger btn-sm" id="btnRemoveHighLight" (click)="highlightSelectionRemove()">Remove Highlight</button>
        </div> -->
    </div>
  </div>
</div>
