<div class="container">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <ng-container *ngIf="!isLoading">
    <div class="row">
      <div class="col">
        <!-- Empty here -->
      </div>
      <div class="col-6">
        <!-- Get post by ID Request on backend -->
        <div *ngFor="let post of posts;">
          <ng-template [ngIf]="post.id === id">
            <strong>{{ post.header }}</strong>
            <!-- style="overflow-y: scroll; height:500px;" -->
            <div id="scrollable">
              {{ postIWant }}
            </div>
          </ng-template>
        </div>
        <!-- <div class="questions" *ngFor="let word of theHardWords;"> -->
          <!-- {{ theHardWords[].word }} -->
          <!-- Please Answer these Questions here:
          <br> Q1: How much did the annotation on the word {{ theHardWords[0] }} help you?
          <br> Q2: How much did the annotation on the word {{ theHardWords[1] }} help you?
          <br> Q3: How much did the annotation on the word {{ theHardWords[2] }} help you?
          <br> Q4: How much did the annotation on the word {{ theHardWords[3] }} help you?
          <br> Q5: How much did the annotation on the word {{ theHardWords[4] }} help you? -->
        <!-- </div> -->
      </div>
      <div class="col" id="flexible">
        <div>
          <button type="button" class="btn btn-warning btn-sm" id="btnShow" (click)="onShowHighlights()">Show Highlights</button>
        </div>
        <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' || userIsAuthenticated && this.role == 'admin'">
          <div>
            <button type="button" class="btn btn-warning btn-sm" id="btnHighLight" (click)="highlightSelection()">Highlight Selected Text</button>
            <!-- <button type="button" class="btn btn-warning btn-sm" id="btnHighLightRemove" (click)="deHighlightSelection()">Remove Highlight</button> -->
          </div>
        </ng-template>
        <ng-template [ngIf]='word'>
          <form [formGroup]='form' (submit)="onAnnotate()">
            <div class="alert alert-warning alert-dismissible fade show" id="annotation" role="alert">
              <strong>{{ word }}</strong>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='resetAlertBox()'>
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' || userIsAuthenticated && this.role == 'admin'">
              <div class="form-group">
                <ng-template [ngIf]="userIsAuthenticated && showingAnnotation && !editing">
                  <div class="alert alert-info" role="alert">
                    {{ showingAnnotation }}
                  </div>
                </ng-template>
                <ng-template [ngIf]="userIsAuthenticated && showingAnnotation && editing">
                  <div class="alert alert-info" role="alert">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="{{ showingAnnotation }}" rows="3" formControlName="annotation"></textarea>
                  </div>
                  <button class="btn btn-success btn-sm" id="saveEditBtn" type="button" (click)='onEditSub()' [disabled]="!form.valid">Save Edited Annotation</button>
                </ng-template>
                <ng-template [ngIf]="userIsAuthenticated && !showingAnnotation">
                  <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Describe Word" rows="3" formControlName="annotation"></textarea>
                </ng-template>
              </div>
              <!-- annotationFromForm.valid -->
            </ng-template>
            <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' && form.valid && !editing|| userIsAuthenticated && this.role == 'admin' && form.valid && !editing">
              <button class="btn btn-success btn-sm" id="postbtn" type="submit" [disabled]="!form.valid">Save Annotation</button>
            </ng-template>
            <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' && showingAnnotation || userIsAuthenticated && this.role == 'admin' && showingAnnotation">
              <button class="btn btn-secondary btn-sm" id="editBtn" type="button" (click)='onEditWord()'>Edit Annotation</button>
            </ng-template>
            <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' && showingAnnotation || userIsAuthenticated && this.role == 'admin' && showingAnnotation">
              <button class="btn btn-danger btn-sm" id="deleteBtn" type="button" (click)='onDelete()'>Delete Annotation</button>
            </ng-template>
          </form>
          <ng-template [ngIf]="userIsAuthenticated && this.role == 'student'">
            <div class="alert alert-info" role="alert">
              {{ showingAnnotation }}
            </div>
          </ng-template>
        </ng-template>
        <!-- <div>
          <button type="button" class="btn btn-danger btn-sm" id="btnRemoveHighLight" (click)="highlightSelectionRemove()">Remove Highlight</button>
        </div> -->
      </div>
    </div>
  </ng-container>
</div>
