<div class="container">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Web Development</h5>
      <img class="card-img-top" id="awImg" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg"
        alt="Card image cap">
      <p class="card-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
      <p class="card-text">
        <small class="text-muted">
          (6G6Z345431_171834_93Z6)
        </small>
      </p>
    </div>
  </div>
  <!-- <button class="btn btn-outline-info btn-sm" id="ctrPost" (click)="btnCreatePost()">Create Post</button> -->
  <!-- <br> -->
  <!-- <hr> -->
  <!-- <ng-template [ngIf]="!createPost || editPost"> -->
    <app-create-post></app-create-post>
  <!-- </ng-template> -->
  <app-show-post></app-show-post>
</div>
