<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="navbar" style="background-color: #e1e5e9;">
  <div class="container">
    <a class="navbar-brand" routerLink="/module">CTAS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" id="navbarColor" routerLink="/home">Home
            <!-- <span class="sr-only">(current)</span> -->
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" id="navbarColor" routerLink="/course">My Course</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" *ngIf="!userIsAuthenticated">
          <a class="nav-link" id="navfix1" routerLink="/auth/login">Log In</a>
        </li>
        <li class="nav-item" *ngIf="userIsAuthenticated">
          <a class="nav-link" id="navfix2" (click)="onLogout()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
