<div class="container">
  <div class="column left">
    <label for="modeSelect" style="font-weight: 500;"><u>Mode</u></label><br>
    <select id='modeSelect' (change)='changeMode($event.target.value)'>
      <option value='teacher'>Teacher</option>
      <option value='assist'>Assist</option>
    </select>
  </div>
  <div id='mcontent' class="column center">
    <!-- Get post by ID Request on backend -->
    <div *ngFor="let post of posts;">
      <ng-template [ngIf]="post.id === id">
        <div id="stronger">{{ post.header }}</div>
        <div id='infoBox'>Highlight and annotate any words or phrases that may be difficult to understand for the average reader</div>
        <div *ngIf='isLoading' id="scrollable">
          <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </div>
        <div  id="scrollable">
          {{ selectedPost }}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="column right">
    <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' && !isLoading || this.role == 'admin' && !isLoading">
      <div>
        <a class="btn btn-sm rounded"  id="btnSubmit" (click)="submitTest()"> 
          Submit Test
          <i class="fas fa-check"></i>
        </a>
        <a class="btn btn-warning btn-sm rounded"  id="btnHighLight" (click)="highlightSelection()"> 
          Selected Text
          <i class="fas fa-highlighter"></i>
        </a>
        <a *ngIf="showDelete && word" class="btn btn-sm rounded"  id="btnDelete" (click)="deleteAnnotation()"> 
          Delete annotation
          <i class="fas fa-times"></i>
        </a>

      </div>
    </ng-template>
    <ng-template [ngIf]='word'>
      <form [formGroup]='form'>
        <div class="alert alert-warning alert-dismissible fade show rounded" id="annotation" role="alert">
          <strong>{{ word }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='resetAlertBox(false)'>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <ng-template [ngIf]="userIsAuthenticated && (this.role == 'teacher' || this.role == 'admin')">
          <div class="form-group">
            <ng-template [ngIf]="userIsAuthenticated && !showingAnnotation">
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Describe Word" rows="8" formControlName="annotation" value=""></textarea>
            </ng-template>
          </div>
        </ng-template>
    
        <ng-template [ngIf]="userIsAuthenticated && form.valid && !editing && (this.role == 'teacher' ||  this.role == 'admin')">
          <button class="btn btn-success btn-sm" id="postDocbtn" type="button" (click)='addToTest()' [disabled]="!form.valid">Add to document</button>
        </ng-template>
        
      </form>
    </ng-template>
  </div>
 
</div>


<div class="modal fade" id="annotationModal" tabindex="-1" role="dialog" aria-labelledby="annotationModalLabel" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="annotationModalLabel">Add Annotation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]='annotationForm'>
        <div class="modal-body textLeft flex-modal">
		  
          <h6 class="card-subtitle mb-2 text-muted textCenter">Retrieved Definitions</h6>
          <div class="form-check form-check-inline">

            <label class="form-check-label defs" (click)='setAnnotationInput(description[0])'>1. {{ description[0] }}</label>
          </div>
		  
          <div class="form-check form-check-inline">
            <label class="form-check-label defs" (click)='setAnnotationInput(description[1])'>2. {{ description[1] }}</label>
          </div>
		  
          <div class="form-check form-check-inline difScale">
            <label class="form-check-label defs" (click)='setAnnotationInput(description[2])'>3. {{ description[2] }}</label>
          </div>
		  <div>
			<textarea form='annotationForm' id='annotationBox' placeholder="Enter an annotation, or select a definition." formControlName="annotationInput" ></textarea>
		  </div>
		  <div [innerHTML]="contextTarget"></div> 
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" >Close</button>  
		<ng-template [ngIf]="userIsAuthenticated && annotationForm.valid && !editing && (this.role == 'teacher' ||  this.role == 'admin')">
		<button type="button" class="btn btn-primary" (click)="addToDoc();" data-dismiss="modal">Submit</button>
		</ng-template>
       
      </div>
    </div>
  </div>
</div>






