<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container">
  <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' || userIsAuthenticated && this.role == 'admin'">
    <form [formGroup]='form' name="test" *ngIf="!isLoading">
      <div class="form-group">
        <input type="text" class="form-control" name="header" placeholder="Post Header" formControlName="header">
      </div>
      <div class="input-group">
        <textarea class="form-control" rows="3" name="message" placeholder="Post Message" formControlName="message"></textarea>
      </div>
      <div class="form-group">
          <input class="form-control-file" type="file" id="file1" ng-model="test1" (change)="onFilePicked($event)">
          <!-- {{ filePreview }} -->
        <!-- <input #fileInput class="form-control-file" type="file" id="file1" formControlName="test1" (change)="onFilePicked($event)"> -->
      </div>
      <button class="btn btn-success btn-sm" id="postbtn" type="button" [disabled]="!form.valid" (click)="onSavePost()">{{ btnText }}</button>
    </form>
    </ng-template>
</div>

<!-- <input #fileInput class="form-control-file" type="file" id="file1" formControlName="fileInput" (change)="onFilePicked($event)"> -->

<!-- <div>
  <button ng-click="angular.copy(file1)" #filePicker id="file2" type="reset">Remove files</button>
</div> -->

<!-- (click)="filePicker.click()" -->

<!-- <object [data]="trustTwo" type="application/pdf">
  <embed [src]="trustTwo" type="application/pdf" />
</object> -->

<!-- <embed [src]='trustTwo' width="800px" height="2100px" type='application/pdf'> -->
<!-- <embed src="http://example.com/the.pdf" width="500" height="375" type='application/pdf'> -->
