<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container">
  <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' || userIsAuthenticated && this.role == 'admin'">
    <form [formGroup]='form' name="test" *ngIf="!isLoading">
      <div class="form-group">
        <input type="text" class="form-control" name="header" placeholder="Post Header" formControlName="header">
      </div>
      <div class="input-group">
        <textarea class="form-control" rows="3" name="message" placeholder="Post Message" formControlName="message"></textarea>
      </div>
      <div class="input-group">
        <textarea class="form-control" rows="3" name="body" placeholder="Post Body" formControlName="body"></textarea>
      </div>
      <div class="input-group">
        <textarea class="form-control" rows="3" name="references" placeholder="Post References" formControlName="references"></textarea>
      </div>
      <button class="btn btn-success btn-sm" id="postbtn" type="button" [disabled]="!form.valid" (click)="onSavePost()">{{ btnText }}</button>
    </form>
  </ng-template>
</div>
