.definition {
  padding: 12px;
  border: 1px solid #ccc;
  margin: 24px;
  line-height: 1.5em;
}

button {
  padding: 12px;
  background: #ddd;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
    background: rgba(0, 255, 0, 0.2);
    border-color: rgba(0, 255, 0, 0.3);
}

.actions {
  padding: 24px;
}

.spinner {
  width: 50px;
  height: 50px;
  border-top: 2px solid coral;
  border-right: 2px solid transparent;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  animation: spin 1s infinite ease-in-out;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
