<div class="container">
  <div class="card-deck">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Advanced Web Development</h5>
        <img class="card-img-top" id="awImg" src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg"
          alt="Card image cap">
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="card-text">
          <small class="text-muted">(6G6Z345431_171834_93Z6)</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Data Engineering</h5>
        <img class="card-img-top" id="deImg" src="https://upload.wikimedia.org/wikipedia/commons/4/46/BigData_2267x1146_white.png"
          alt="Card image cap">
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="card-text">
          <small class="text-muted">(643G236_33248_923Z6)</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Project Managment</h5>
        <img class="card-img-top" id="proImg" src="https://upload.wikimedia.org/wikipedia/commons/3/37/Toicon-icon-fandom-game.svg"
          alt="Card image cap">
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="card-text">
          <small class="text-muted">(634ZG1101_5718_9Z6)</small>
        </p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Information Systems Strategy</h5>
        <img class="card-img-top" id="isImg" src="https://upload.wikimedia.org/wikipedia/commons/d/d0/NIST_Enterprise_Architecture_Model.jpg"
          alt="Card image cap">
        <p class="card-text"> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis
          natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        <p class="card-text">
          <small class="text-muted">(6G62336_123418_93Z6)</small>
        </p>
      </div>
    </div>
  </div>
</div>
