.container {
  padding-top: 2.5em;
  text-align: center;
}

.imgshrink {
  max-width: 10em;
  min-height: 11em;
}

.card {
  margin: 0 auto;
  float: none;
  max-width: 17em;
  text-align: center;
}

.space {
  margin-top: 2em;
  min-height: 5em;
}
