#deleteBtn {
  margin-left: 1em;
}

.card-title {
  font-weight: bold;
}

#editBtn {
  margin-left: 1em;
}

#btnPro {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: courier;
  color: white;
}

mat-spinner {
  margin: auto;
}

.card{
	margin-bottom:5px;
}
.btn{
	white-space:inherit;
	
}

/* #btn {
  max-height: 3px;
} */
