<div class="container">
  <div class="column left">
  
  </div>
  <div id='mcontent' class="column center">
    <!-- Get post by ID Request on backend -->
    <div *ngFor="let post of posts;">
      <ng-template [ngIf]="post.id === id">
        <div id="stronger">{{ post.header }}</div>
        <div id='infoBox'>Highlight and annotate any words or phrases that may be difficult to understand for the average reader</div>
        <div *ngIf='isLoading' id="scrollable">
          <mat-progress-bar mode="indeterminate" *ngIf='isLoading && !hardWords'></mat-progress-bar>
          <mat-progress-bar mode="determinate" [value]='hardWordProgress' *ngIf='isLoading && hardWords'></mat-progress-bar>
        </div>
        <div *ngIf='!isLoading' id="scrollable">
          {{ selectedPost }}
        </div>
      </ng-template>
    </div>
  </div>
  <div class="column right">
    <ng-template [ngIf]="userIsAuthenticated && this.role == 'teacher' && !isLoading || this.role == 'admin' && !isLoading">
      <div>
        <a class="btn btn-sm rounded"  id="btnSubmit" (click)="submitTest()"> 
          Submit Test
          <i class="fas fa-check"></i>
        </a>
        <a class="btn btn-warning btn-sm rounded"  id="btnHighLight" (click)="highlightSelection()"> 
          Selected Text
          <i class="fas fa-highlighter"></i>
        </a>
        <a *ngIf="showDelete && word" class="btn btn-sm rounded"  id="btnDelete" (click)="deleteAnnotation()"> 
          Delete annotation
          <i class="fas fa-times"></i>
        </a>

      </div>
    </ng-template>
    <ng-template [ngIf]='word'>
      <form [formGroup]='form'>
        <div class="alert alert-warning alert-dismissible fade show rounded" id="annotation" role="alert">
          <strong>{{ word }}</strong>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)='resetAlertBox(false)'>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    
        <ng-template [ngIf]="userIsAuthenticated && (this.role == 'teacher' || this.role == 'admin')">
          <div class="form-group">
            <ng-template [ngIf]="userIsAuthenticated && !showingAnnotation">
              <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Describe Word" rows="8" formControlName="annotation" value=""></textarea>
            </ng-template>
          </div>
        </ng-template>
    
        <ng-template [ngIf]="userIsAuthenticated && form.valid && !editing && (this.role == 'teacher' ||  this.role == 'admin')">
          <button class="btn btn-success btn-sm" id="postDocbtn" type="button" (click)='addToTest()' [disabled]="!form.valid">Add to document</button>
        </ng-template>
        
      </form>
      
    </ng-template>
  </div>
 
</div>









