<div class="container">
    <form [formGroup]='form'>
    <div class="row">
      <div class="col">
      </div>
       <div class="col-6">
        <br>
          <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="inlineRadio1" value="student" formControlName="role">
              <label class="form-check-label" for="inlineRadio1">Student</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="inlineRadio2" value="teacher" formControlName="role">
              <label class="form-check-label" for="inlineRadio2">Teacher</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="role" id="inlineRadio3" value="admin" formControlName="role">
              <label class="form-check-label" for="inlineRadio3">Admin</label>
            </div>
            <hr>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" placeholder="Email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password" formControlName="password">
          </div>
          <button class="btn btn-primary" type="button" (click)="onSignup()" [disabled]="!form.valid">Signup</button>
          <!-- [disabled]="!form.valid" -->

          <p>form value: {{this.form.value | json}}</p>
          <p>form status: {{this.form.status | json}}</p>
      </div>
      <div class="col"></div>
    </div>
  </form>
  </div>
