<div class="container">
  <br>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            Clicks Analytics
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Visits</th>
                <th>Post Visited</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let res of result; let count=index">
                <th>{{ res.userId }}</th>
                <th>{{ res.visitCount }}</th>
                <th>{{ res.visitPostId }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                User Analytics
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
              <table class="table table-bordered table-inverse">
                  <thead>
                    <tr>
                      <th>User ID</th>
                      <th>Post Visited</th>
                      <th>Visit Date</th>
                      <th>Visit Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let analytic of analytics; let count=index">
                      <th>{{ analytic.userId }}</th>
                      <th>{{ analytic.postId }}</th>
                      <th>{{ analytic.visitDate }}</th>
                      <th>{{ analytic.visitDurationSeconds }}</th>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
  </div>
  <br>

</div>
