<div class="container">
  <br>
  <div class="centerTheButtons">
    <button class="btn btn-secondary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"
      aria-controls="multiCollapseExample1">Clicks Analytics</button>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample2"
      aria-expanded="false" aria-controls="multiCollapseExample2">User Analytics</button>
    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#multiCollapseExample3"
      aria-expanded="false" aria-controls="multiCollapseExample3">Word Analytics</button>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample1">
        <div class="card card-body">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Visits</th>
                <th>Post Visited</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let res of result; let count=index">
                <th>{{ res.userId }}</th>
                <th>{{ res.visitCount }}</th>
                <th>{{ res.visitPostId }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample2">
        <div class="card card-body">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Post Visited</th>
                <th>Visit Date</th>
                <th>Visit Duration In Seconds</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let analytic of analytics; let count=index">
                <!-- <ng-container *ngIf="analytic.visitDurationSeconds === 20"> -->
                  <th>{{ analytic.userId }}</th>
                  <th>{{ analytic.postId }}</th>
                  <th>{{ analytic.visitDate }}</th>
                  <th>{{ analytic.visitDurationSeconds }}</th>
                <!-- </ng-container> -->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="collapse multi-collapse" id="multiCollapseExample3">
        <div class="card card-body">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>Word Visited</th>
                <th>User ID</th>
                <th>Visit Date</th>
                <th>Post Visited</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let userAnnotion of userAnnotions; let count=index">
                <th>{{ userAnnotion.word }}</th>
                <th>{{ userAnnotion.userId }}</th>
                <th>{{ userAnnotion.visitDate }}</th>
                <th>{{ userAnnotion.postId }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- <br>
  <div class="accordion" id="accordionExample">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            Clicks Analytics
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <table class="table table-bordered table-inverse">
            <thead>
              <tr>
                <th>User ID</th>
                <th>Visits</th>
                <th>Post Visited</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let res of result; let count=index">
                <th>{{ res.userId }}</th>
                <th>{{ res.visitCount }}</th>
                <th>{{ res.visitPostId }}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                User Analytics
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div class="card-body">
              <table class="table table-bordered table-inverse">
                  <thead>
                    <tr>
                      <th>User ID</th>
                      <th>Post Visited</th>
                      <th>Visit Date</th>
                      <th>Visit Duration</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let analytic of analytics; let count=index">
                      <th>{{ analytic.userId }}</th>
                      <th>{{ analytic.postId }}</th>
                      <th>{{ analytic.visitDate }}</th>
                      <th>{{ analytic.visitDurationSeconds }}</th>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
  </div>
  <br> -->

</div>
